.sidebar {
    display: grid;
    gap: 25px;
    grid-auto-flow: row;
    align-content: start;
    justify-items: center;
    width: 140px;
    height: 100vh;
    border-bottom-right-radius: 32px;
    background-color: #434343;
    padding-top: 110px;
  }

.pointer {
    cursor: pointer;
    width: 33px;
    height: 33px;
}

.sidebar a {
    width: 73px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .ativa, .sidebar a:hover {
    background-color: rgba(196,196,196,0.32);
    border-radius: 50%;
} 