.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modalContainer {
  padding: 22px; 
  background-color: #fff;
  border-radius: 24px;
}

.modalTitle {
  font-size: 24px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 40px;
}

.modalDesc {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.67);
  margin-bottom: 28px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.modalBtn {
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007DFF;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}

.modalBtn.modalRemove {
  background-color: #FF505F;
}